@font-face {
  font-family: Baloo;
  src: url('../fonts/Baloo/BalooTamma2-Regular.ttf');
}
@font-face {
  font-family: BalooBolder;
  src: url('../fonts/Baloo/BalooTamma2-ExtraBold.ttf');
}
@font-face {
  font-family: Caveat;
  src: url('../fonts/Caveat/Caveat-Regular.ttf');
}
@font-face {
  font-family: Amatic;
  src: url('../fonts/Amatic/AmaticSC-Regular.ttf');
}
@font-face {
  font-family: Indie;
  src: url('../fonts/Indie_Flower/IndieFlower-Regular.ttf');
}
@font-face {
  font-family: Shadows;
  src: url('../fonts/ShadowsIntoLight-Regular.ttf');
}
@font-face {
  font-family: Assistant;
  src: url('../fonts/Assistant/Assistant-Regular.ttf');
}
/*================================
 GENERALES
==================================*/

body {
  background-color: #fff;
  color: #636b6f;
  font-family: 'Baloo', serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

/*================================
 CONTENIDO
==================================*/

/* Header
==================================*/
header {
  display: flex;
  /* background-color: #f0f0f0; */
}
#logo-principal {
	display: flex;
	align-items: center;
	width: 25%;
}
#logo-principal a {
  font-family: Caveat, serif;
  color: #463d34;
  font-size: 1.8rem;
  font-weight: bold;
}
/*··························· Menu Principal  */
#menu-principal {
  display: flex;
  min-height: 70px;
  width: 75%;
}
#menu-principal a {
  color: #636b6f;
  font-family: 'baloobolder', serif;
  font-family: 1.1rem;
  letter-spacing: 2px;
}
#menu-principal ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: end;
}
.links:not(:last-child) {
	padding-right: 30px;
}
.links a {
	font-size: 1.2rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*··························· Menu Mobile  */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #312a24;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* Main
==================================*/
main {
  min-height: 50vh;
  padding-top: 30px;
  padding-bottom: 100px;
}
/*··························· Banner  */
.banner .image {
	position: absolute;
	top: 0;
	left: 0;
}
.hero.banner {
  position: relative;
  overflow: hidden;
}

.banner::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 0;
}
.hero .title, .hero .subtitle {
  color: #ddd;
  position: relative;
  z-index: 2;
  font-family: Caveat;
  text-align: center;
  font-size: 2rem;
}
.hero .title {
  font-size: 4rem;
}
.tile.has-text {
	flex-direction: column;
	align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}
.tile h3 {
  font-family: 'BalooBolder';
  font-weight: bolder;
  font-size: 2.2rem;
  color: #8eadbd;
}

/* Categoria - Producto
==================================*/
.productos h2 {
	text-align: center;
	font-size: 3rem;
	font-family: caveat;
}
.productos .image {
  margin: 0 10px;
}

/*================================
 Footer
==================================*/
footer .container {
  min-height: 20vh;
}
.footer {
  padding: unset;
  text-align: center;
}

.footer-top,
.footer-bottom {
  min-height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-top {
  background-color: #5b6770;
}

.footer-bottom {
  min-height: 40px;
  font-weight: bold;
}

.footer .title {
  color: #aaa;
}

/*================================
 Media Queries
==================================*/
@media (max-width: 1152px /* Widescreen - Breakpoint */) {

}
@media (max-width: 960px /* Desktop - Breakpoint */) {

}
@media (max-width: 769px /* Table - Breakpoint */) {
  .nav-mobile {
    display: block;
  }
  #menu-principal {
    padding-top: 70px;
  }
  #menu-principal ul {
    display: none;
    position: absolute;
    top: 70px;
    z-index: 10;
    background-color: #fff;
    height: 100vh;
  }
  #logo-principal {
    float: left;
    padding-left: 20px;
    position: absolute;
    z-index: 101;
    width: unset;
    height: 70px;
  }
  .links:not(:last-child) {
    padding-right: unset;
  }
  .links {
    text-align: center;
    padding: 20px 0;
  }

  
  /*··························· Contenido  769*/
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }
    
  /*··························· Categories  769*/
  
  /*··························· Footer 769  */
}
  
@media (max-width: 474px /* Small Mobile - Breakpoint */) {
  
  /*··························· Nav Bar  */

  /*··························· Contenido  */
 
  /*··························· Footer  */
  
}
